.footer{
    background-color: #2C2B2B;
    height: 200px;
    display: flex;
    align-items: center;
}
.footer-content{
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.footer-content{
    color: #53686C;
}
.icons{
    width: 45%;
    display: flex;
    justify-content: space-between;
    
}
.icon{
    color: #1EDD88;
}